* {
    margin: 0;
    padding: 0;
}


body {
    font-family:'Courier New', Courier, monospace;
    background-color: skyblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: rgb(150, 127, 127);
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.continue-button {
    height: 30px;
    font-size: 16px;
    background: #6e66b3;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #0000004a;
    color: white;
}

.inputbox {
    height: 30px;
    padding-left: 5px;
    font-size: 14px;
    outline: none;
} 